---
import DocsLayout from "../../layouts/Layout.astro";
import { FileCheck2 } from "lucide-static";
import CodeBlock from "../../components/CodeBlock.astro";

const ejemplo = `import { authorizeXml } from "osodreamer-sri-xml-signer";
const claveAcceso = "clave de acceso del comprobante";
 const authorizedXmlResponse = await authorizeXml({claveAcceso, env:"test"}); 

console.log(authorizedXmlResponse);`;
---

<DocsLayout title="Autorizador XML ">
  <section class="mb-12 text-center max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold text-white mb-3">Autorizador XML</h1>
    <p class="text-zinc-400 text-base">
      Consulta la autorización oficial del comprobante ante el SRI usando su <strong
        >clave de acceso</strong
      >.
    </p>
  </section>

  <section class="mb-24">
    <div
      class="bg-zinc-900 border border-zinc-800 p-6 sm:p-8 rounded-2xl max-w-3xl mx-auto shadow-md"
    >
      <div class="flex items-start gap-3 mb-4">
        <span class="text-indigo-400 w-5 h-5 mt-1"><FileCheck2 /></span>
        <h2 class="text-lg font-semibold text-white">Uso básico</h2>
      </div>

      <CodeBlock code={ejemplo} filename="autorizar.ts" language="ts" />

      <hr class="my-8 border-zinc-700" />

      <div
        class="text-sm text-zinc-400 text-left bg-zinc-800/40 p-6 rounded-xl"
      >
        <h3 class="text-base font-semibold text-white mb-4">¿Qué hace?</h3>

        <ul
          class="list-disc list-inside text-sm text-zinc-400 pl-4 space-y-1 mb-4"
        >
          <li>
            Consulta al servicio de <strong>autorización del SRI</strong> vía SOAP
          </li>
          <li>
            Recibe el estado <code>AUTORIZADO</code> o <code>NO AUTORIZADO</code
            >
          </li>
          <li>Devuelve el XML autorizado y los mensajes asociados</li>
          <li>
            Funciona para ambientes de <code>pruebas</code> y <code
              >producción</code
            >
          </li>
        </ul>

        <p class="text-sm text-zinc-400">
          Es el último paso del proceso: se realiza únicamente si el comprobante
          fue <strong>recibido</strong> correctamente en el paso anterior.
        </p>

        <div
          class="flex flex-col sm:flex-row sm:items-center sm:justify-start gap-4 mt-6"
        >
          <a
            href="/osodreamer-sri-xml-signer-docs/docs/modelo-datos/autorizador"
            class="inline-flex items-center h-10 px-4 border border-indigo-500 text-indigo-400 rounded-md hover:bg-indigo-950 transition text-sm font-medium"
          >
            Ver estructura del modelo
          </a>
          <a
            href="/osodreamer-sri-xml-signer-docs/docs"
            class="px-6 h-10 inline-flex items-center justify-center rounded-md bg-indigo-500 hover:bg-indigo-400 text-white text-sm font-medium transition"
          >
            Volver al inicio
          </a>
        </div>
      </div>
    </div>
  </section>
</DocsLayout>
