---
import DocsLayout from "../../../layouts/Layout.astro";
import CodeBlock from "../../../components/CodeBlock.astro";

const comando = `type SRIEnv = "test" | "prod";

interface ValidateXmlCommand {
  xml: Uint8Array;
  env: SRIEnv;
}`;

const respuesta = `interface ValidateXmlResponse {
  estado: string;
  mensaje?: string;
}`;
---

<DocsLayout title="Modelo de datos del validador ">
  <section class="mb-12 text-center max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold text-white mb-3">
      Modelo de datos del validador
    </h1>
    <p class="text-zinc-400 text-base">
      Conoce la estructura necesaria para validar un comprobante electrónico ya
      firmado usando los servicios oficiales del SRI.
    </p>
  </section>

  <section class="mb-24">
    <div
      class="bg-zinc-900 border border-zinc-800 p-6 sm:p-8 rounded-2xl max-w-3xl mx-auto shadow-md"
    >
      <div class="text-sm text-zinc-400 bg-zinc-800/40 p-6 rounded-xl">
        <h3 class="text-base font-semibold text-white mb-4">
          Datos de entrada esperados
        </h3>

        <CodeBlock
          code={comando}
          filename="ValidateXmlCommand.ts"
          language="ts"
        />

        <ul class="list-disc list-inside text-sm pl-4 space-y-2 mt-6">
          <li>
            <code>xml</code>: Archivo XML del comprobante <strong
              >ya firmado</strong
            >, en formato binario (<code>Uint8Array</code>).
          </li>
          <li>
            <code>env</code>: Entorno del SRI a utilizar: <code>"test"</code> o <code
              >"prod"</code
            >.
          </li>
        </ul>

        <hr class="my-8 border-zinc-700" />

        <h3 class="text-base font-semibold text-white mb-4">
          Respuesta devuelta por el validador
        </h3>

        <CodeBlock
          code={respuesta}
          filename="ValidateXmlResponse.ts"
          language="ts"
        />

        <ul class="list-disc list-inside text-sm pl-4 space-y-2 mt-6">
          <li>
            <code>estado</code>: Resultado del proceso de validación: puede ser
            <code>"AUTORIZADO"</code>, <code>"DEVUELTA"</code> u otro.
          </li>
          <li>
            <code>mensaje</code>: Detalle u observación adicional, si aplica.
          </li>
        </ul>
      </div>
    </div>
  </section>
</DocsLayout>
